body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#logo{
    width: 100px;
}
 nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 nav ul{
    display: flex;
    width: 20%;
    list-style: none;
    justify-content: space-around;
 }

 h1{
   color: #989898;
 }

 footer{
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }