<!doctype html>
    <html lang="fr">
        {{>head}}
        {{>header}}
        <body>
            <h1 id="about">{{title}}</h1>
        </body>
        <p>This site was creater by Imrane abdoul, it uses data from map.box</p>
        {{>footer}}
        
        <script src="JS/script.js"></script>
    </html>