<!doctype html>
    <html lang="fr">
         {{>head}}
        {{>header}}
        <body>
            <h1 id="about">{{title}}</h1>
            <h2 id="prevision"></h2>

            <form>
                <label>Serch</label>
                <input id="valueSearch" type="text" name="search"/>
                <button id="search">Search</button>
            </form>
        </body>

        {{>footer}}
        <script src="JS/script.js"></script>
    </html>