<!doctype html>
    <html lang="fr">
        {{>head}}

        {{>header}}

        <body>
            <h1>{{errorMessage}}</h1>
        </body>

        {{>footer}}
        <script src="JS/script.js"></script>
</html>